/* @media (min-width:200px) and (max-width: 360px) {
    .search-field{
        width: 100px !important;
        margin-left: 10px;   
}    
 
@media (min-width:360px) and (max-width: 640px) {
    .search-field{
        width: 50px !important;
        margin-left: 10px; 
}
@media (min-width:640px) and (max-width: 768px) {
    body{
        width: 600px;
    }
    .search-btn{
        margin: 5px;
    }   
    .olx-logo-image{
        width: 2em;
        height : 2em;
    } 
}

@media (min-width: 768px) and (max-width:992px){
    body{
        width: 700px;
    }
    .search-btn{
        margin: 5px;
    }
    .olx-logo-image{
        width: 2em;
        height : 2em;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    body{
        width: 900px;
    }
    .search-btn{
        margin: 5px;
    }
    .olx-logo-image{
        width: 2em;
        height : 2em;
    }
} */



.heading{
    margin-left: 510px;
}
.search-field{
    width: 500px !important;
    margin-left: 350px;
    
}
.form-div{
}
/* .margin-img{
    margin-left: 50px;
} */
.user-name{
    color: aquamarine;
}