body,
html {
  font-family: 'Varela Round', sans-serif !important;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}

.heading {
  margin-left: 510px;
}
.search-field {
  width: 500px !important;
  margin-left: 350px;
}

.user-name {
  color: aquamarine;
}

.git-finder {
  font-family: 'Libre Baskerville', serif !important;
}
