*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* html,body{
    height: 100%;
} */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

body {
  font-family: 'Varela Round', sans-serif !important;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}
.git-finder {
  font-family: 'Libre Baskerville', serif !important;
}

.image {
  background: url(../images/image1.png) no-repeat center;
  background-size: cover;
  height: 50vh;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .image {
    height: 50vh;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .image {
    height: 58vh;
  }
}

@media screen and (min-width: 501px) and (max-width: 770px) {
  .image {
    height: 50vh;
  }
}

@media screen and (min-width: 771) and (max-width: 1050) {
}
